{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kabunai</title>
    <link rel="stylesheet" type="text/css" href="{%static 'bootstrap/css/bootstrap.min.css'%}">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
         integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
    <script type="text/javascript" src="{%static 'js/style.js'%}"></script>
</head>
<body>
{%include 'assets/navbar.html'%}

{%block content%}
{%endblock content%}
{%include 'assets/footer.html'%}
	<!-------------------------------------scripts--------------------------------->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{%static 'js/jquery.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'bootstrap/js/bootstrap.min.js'%}"></script>
<script type="text/javascript">
	$("#username").change(function (e) {
      var username = $(this).val();

      $.ajax({
        url: '{%url 'validate'%}',
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
          	alert('Username is taken please pick another!')
            document.getElementById("username").value='';
          }
        }
      });

    });
    $("#pass2").change(function(e){
		e.preventDefault();
		var password1= $("#pass1").val();
		var password2= $(this).val();
		if(password1 !== password2){
			alert("Error! passwords dont match")
			document.getElementById("pass1").value="";
			document.getElementById("pass2").value="";
		}
	});
	$(document).ready(function(){
	    $('#myCarousel').carousel({
	        interval: 3000})
	            });
</script>
	<!----------------------------------------scripts-------------------------------->
</body>
</html>