<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'index' %}">KabuNai</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'index'%}">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'members'%}">Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About Us</a>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
             id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
             <a class="dropdown-item" href="#"><i class="fa fa-sign-in-alt"></i>{{user.username}}</a>
            <a class="dropdown-item" href="{% url 'members' %}">members</a>
            {% if user.is_authenticated%}
             <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
            <a class="dropdown-item" href="{% url 'posts' %}">Posts</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="dropdown-item" href="{% url 'register' %}">Register</a>
            <a class="dropdown-item" href="{% url 'login' %}">Login</a>
            {% endif %}
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>