{% extends 'assets/base.html' %}
{% block content %}

<div class="container homepage">
    <div class="row justify-content-md-center">
        <div class="col p-3">
            <div class="card my-card">
                <div class="card-body p-3 text-center">
                   <div class="py-5 text-center"><label class="kabunaititle h2">KABUNAI</label><br>
                       <span class="small front-text">Power of the youth</span></div>
                    <p class="mt-3 mb-3 front-text"></p>
                    <p class="mt-3 mb-3 front-text">When we come together we make it happen</p>
                    <p class="mt-3 mb-3 front-text">Kabunai youth Group</p>
                    <p class="front-text">We enlighten the future</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5 text-center"><h2>About Us</h2></div>
<div class="container shadow-lg">
    <div class="row">
        <div class="col-md-6 md-12">
            <label class="py-3 text-center h2">
            who is kabunai?
            </label>
            <p>We are a youth group in kabuyefwe/naitiri ward
            we look forward to build greater leaders of tomorrow and also
            be a role model to our fellow younger brothers and sisters.
            we know the world out here needs us and we ought to join hands
            in soldiering on to make sure nobody is lucking behind</p>
            <a href="{% url 'about'%}" class="btn btn-primary">read more..</a>
        </div>
        <div class="col-md-6 md-12">
            <label class="py-3 text-center h2">
            our history
            </label>
                <p>We are a youth group in kabuyefwe/naitiri ward
            we look forward to build greater leaders of tomorrow and also
            be a role model to our fellow younger brothers and sisters.
            we know the world out here needs us and we ought to join hands
            in soldiering on to make sure nobody is lucking behind</p>
        </div>
     </div>
</div>
<!-------------------------------------projects section------------------------->

<div class="container">
    <div class="py-5 text-center"><h1>Projects</h1></div>
    <div class="row">
        {%for x in projects%}
        <div class="col-sm-6 mb-3">
            <div class="card">
                <img class="card-img-top" src="{{x.project_pic.url}}">
                <div class="card-body">
                    <h2 class="card-title">{{x.projectname}}</h2>
                    <p>{{x.projectdescription}}</p>
                </div>
                <a href="#" class="btn btn-primary">View Project</a>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
<!-------------------------x------------projects section----------x-------------->
{% endblock content %}