{% extends 'assets/base.html' %}
{% load crispy_forms_tags%}
{% block content %}
<div class="container">
	<div class="row d-flex">
		<div class="col-lg-6 mt-0 pt-5">
			<div class="card justify-content-center">
					<div class="card-block text-center text-cyan">
						<img class="rounded-circle account-img" src="{{ request.user.profile_pic.image.url }}">
						<h2 class="font-weight-bold mt-4">{{user.username}}</h2>
						<p>Web Designer</p>
						<i class="far fa-edit fa-2x mb-4"></i>
					</div>

			</div>
		</div>
    </div>
</div>
{% endblock content %}

<!-----------------------
 <div class="py-5 text-center h3 mt-5"> Update Your Profile</div>
        <div class="col-md-10 mt-5 pt-1 mb-5 shadow-lg">
            <div class="card card-body">
                <form method="POST" action="" enctype="multipart/form-data">
                    {%csrf_token%}
                    {{ user_update|crispy}}

                    <div class="field mt-2 text-center">
						<button class=" btn button is=success bg-info" type="submit">
							Update
						</button>
					  </div>
                </form>
            </div>
        </div>--->